:root {
   --background: #fff ;
   --text-color: #000 ;
   --border: #f8f9fa ;

   --header: #fff ;
}
/**********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  user-select: none ;
}
html {
  
}
